*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* yellow color #ffc20f 
border: #363636 solid 20px;

*/
h1 {
 font-family: 'Kaushan Script', cursive;
 font-weight: 800;
 color: #363636;


}
body{
  font-family: 'Marck Script', cursive;
}
.quote__heading {
position: relative;
top: 100px;
}
.quote {
  background-color: #e5e5e5;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.quote .container{
  height: 100% !important;
}
.quote__container{
  position: relative;
  width: 100%;
  height: 50vh;
}
.quote__border {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: transparent;
  border: #363636 10px solid;
  transform: skewY(-10deg);
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  z-index: 1;
}
 .quote__box {
  position: absolute;
  top: 0;
  left: 10%;
  background-color: #ffc20f;
  width: 80%;
  min-height: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.quote__small-box--1,
.quote__small-box--2 {
  content: "";
  position: absolute;
  width: 10%;
  background: #ffc20f;
  z-index: 2;
  display: flex;
  justify-content: center;
  
}
.style{
  font-size: 50px;
  color: #363636;
}
.quote__small-box--1 {
   top: 5%;
  left: 10%;
}
.quote__small-box--2 {
   bottom: 5%;
  right: 10%;
}
.quote__box--text{
  font-size: 21px;
}
.quote__btn{
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  padding: 15px 30px;
  font-size: 25px;
  border: #ffc20f solid 2px;
  z-index: 1;
  background-color: transparent;
  overflow: hidden;
  
}
 .btn:active{
 border-color: #ffc20f !important;

}
.quote__btn::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffc20f;
  z-index: -1;
  transform-origin: bottom left;
transform: rotate(-90deg);
transition: .5s transform;
}
.quote__btn:hover::before{
transform: rotate(0deg);
} 
/* media query */
@media screen and (min-width:600px){
  h1{
     font-size: 70px;
  }
  .style{
  font-size: 80px;
  }
  .quote__box--text{
  font-size: 30px;
}
}